{% extends 'layout.twig' %}

{% block title %}Titulo Index{% endblock %}

{% block aplicacao %}
<h1>Essa ainda é a aplicação da index.</h1>
{% endblock %}

{% block conteudo %}
    Olá mundo! Esse é o index!
{% endblock %}

